@mixin flex( $jc:flex-start, $ai: stretch, $fd:row,){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin opacity_text($border-width, $border-color){
    color: transparent;
                -webkit-text-stroke-width: $border-width;
                -webkit-text-stroke-color: $border-color;
}